.card-footer {
    background-color: #fff;
}

.selected {
    background-color:lemonchiffon;
    color: green;
}

.conflicted {
    color:rgb(213, 213, 213)
}


.edit-btn {
    float:right;
    padding:0
}
